@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--header-font: "Montserrat", sans-serif;
	--main-font: "Poppins", sans-serif;
	--white: #ffffff;
	--background: #121214;
	--gray-100: #3d3c42;
	--gray-200: #29292e;
	--primary: #8257e6;
	--secondary: #04d361;
}

body {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--background);
	font-family: var(--main-font);
}

a:link,
a:visited,
a:active {
	color: var(--white);
}

ul li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font);
}

#main-container {
	color: var(--white);
	max-width: 57.25rem;
	padding: 5rem 2rem;
}

/* HEADER */
header {
	width: 100%;
	padding: 2rem 3rem;
	display: flex;
	align-items: center;
	background: var(--gray-200);
	border-radius: 5px;
}

.profile-picture {
	display: flex;
	align-items: center;
}

.profile-picture img {
	width: 11rem;
	height: 11rem;
	border-radius: 50%;
	border: var(--primary) solid 4px;
}

.profile-info {
	margin-left: 2rem;
}

.profile-info p {
	margin-top: 0.5rem;
}

.buttons-container {
	width: 100%;
	margin-top: 1rem;
	display: flex;
}

.buttons-container a {
	text-decoration: none;
}

.buttons-container a + a {
	margin-left: 0.5rem;
}

.social-button {
	background: var(--gray-100);
	font-size: 0.85rem;
	border-radius: 5px;
	padding: 0.75rem 1.2rem;
	display: flex;
}

.social-button:hover {
	background: var(--primary);
	cursor: pointer;
}

.social-button img {
	width: 1.2rem;
	margin-right: 0.5rem;
}

/* MAIN */
main {
	padding: 3rem;
	border: var(--secondary) solid 1px;
	border-radius: 5px;
	margin-top: 1rem;
}

main h2 {
	font-size: 1.4rem;
}

main ul {
	margin-top: 1rem;
}

main ul li + li {
	margin-top: 0.2rem;
}

ul.assignment-links a:hover {
	color: var(--primary);
}

/* FOOTER */
footer {
	width: 100%;
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	margin-top: 1rem;
}

footer ul {
	display: flex;
	justify-content: center;
}

ul.footer-info li + li {
	margin-left: 0.5rem;
}

.copyright {
	font-weight: 400;
}

.last-update span {
	color: var(--secondary);
	margin-top: 0.25rem;
}

/* Moile Version */
@media (max-width: 858px) {
	#main-container {
		width: 100%;
		padding: 1.8125rem;
	}

	header {
		flex-direction: column;
		padding: 3rem 1.8125rem;
		text-align: center;
	}

	.profile-info {
		margin-left: 0;
		margin-top: 1.8125rem;
	}

	.buttons-container {
		display: flex;
		justify-content: center;
	}

	main {
		margin-top: 1.8125rem;
	}

	footer {
		margin-top: 1.8125rem;
	}

	footer ul {
		flex-direction: column;
		align-items: center;
	}

	ul.footer-info li + li {
		margin-left: 0;
	}
}
