* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--header-font: "Roboto", sans-serif;
	--main-font: "Opens Sans", sans-serif;
	--primary: #8257e6;
	--secondary: #04d361;
	--background: #f8f8f8;
	--white: #ffffff;
	--gray-10: #e5e5e5;
	--gray-50: #a5a5a5;
	--gray-100: #3d3c42;
	--gray-200: #29292e;
	--black: #121214;
}

body {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--main-font);
}

a {
	text-decoration: none;
	color: var(--primary);
}

a:link,
a:visited,
a:active {
	color: var(--primary);
}

ul li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font);
}

h1 {
	margin: 1.5rem 0;
	font-size: 2.6rem;
	text-transform: capitalize;
}

h2 {
	font-size: 2.4rem;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1rem;
	padding: 0.7rem 1.5rem;
	border-radius: 2rem;
	display: inline-block;
	background: var(--primary);
	color: var(--white);
}

h4 {
	font-size: 1.3rem;
}

#wrapper {
	width: 100%;
}

/* HEADER */

header {
	width: 100%;
}

nav,
footer {
	width: 100%;
	text-align: center;
	font-size: 0.9rem;
	background: var(--black);
	color: var(--white);
	padding: 1.5rem 2rem;
}

.hero-container {
	width: 100%;
	display: flex;
	padding: 6rem 2rem;
}

.hero-container img {
	display: none;
}

.hero-tag {
	padding: 0.7rem 1.5rem;
	font-size: 1rem;
	border-radius: 2rem;
	background: var(--primary);
	color: var(--white);
	display: inline-block;
}

.created-date {
	color: var(--gray-50);
}

/* MAIN */

main {
	display: grid;
	gap: 2rem;
	padding: 0 2rem 2rem 2rem;
}

.topic-number {
	color: var(--primary);
}

article {
	padding: 3rem 2rem;
	border-radius: 10px;
	border: 1px solid var(--gray-10);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

article p {
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.site-link {
	color: var(--primary);
	font-size: 1rem;
	border-radius: 2rem;
	display: inline-block;
	padding: 0.7rem;
}

.article-image {
	display: flex;
	justify-content: center;
}

.article-image img {
	width: 21.875rem;
	max-width: 100%;
	margin: 3rem 0;
}

/* FOOTER */

.copyright {
	width: 100%;
	font-size: 0.9rem;
	text-align: center;
}

/* TABLET VERSION */

@media (min-width: 820px) {
	.hero-container {
		padding: 5rem;
	}

	.hero-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}

	.hero-container img {
		max-width: 100%;
		display: block;
	}

	.hero-image {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	main {
		grid-template-columns: 1fr 1fr;
		padding: 0 5rem 5rem 5rem;
	}
}

/* WEB VERSION */

@media (min-width: 1200px) {
	.hero-container {
		padding: 7rem;
	}

	.hero-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
		align-items: center;
	}

	h1 {
		font-size: 3rem;
	}

	.hero-container img {
		max-width: 100%;
		display: block;
	}

	main {
		grid-template-columns: 1fr 1fr 1fr;
		padding: 0 7rem 7rem 7rem;
	}
}
