main {
  min-height: 30rem;
  width: 100%;
  padding: 2rem 2rem 3.8rem 2rem;
}

main > img {
  max-width: 100%;
}

main h1 {
  font-size: 2.4rem;
}

main p {
  font-size: 1.5rem;
}

@media only screen and (min-width: 40.25rem) {
  main {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
